In [14]:
import pandas as pd

In [15]:
df = pd.read_csv('2016 School Explorer.csv')
df.head()

,Adjusted Grade,New?,Other Location Code in LCGMS,School Name,SED Code,Location Code,District,Latitude,Longitude,Address (Full),...,Grade 8 Math - All Students Tested,Grade 8 Math 4s - All Students,Grade 8 Math 4s - American Indian or Alaska Native,Grade 8 Math 4s - Black or African American,Grade 8 Math 4s - Hispanic or Latino,Grade 8 Math 4s - Asian or Pacific Islander,Grade 8 Math 4s - White,Grade 8 Math 4s - Multiracial,Grade 8 Math 4s - Limited English Proficient,Grade 8 Math 4s - Economically Disadvantaged
0,NaN,NaN,NaN,P.S. 015 ROBERTO CLEMENTE,310100010015,01M015,1,40.721834,-73.978766,"333 E 4TH ST NEW YORK, NY 10009",...,0,0,0,0,0,0,0,0,0,0
1,NaN,NaN,NaN,P.S. 019 ASHER LEVY,310100010019,01M019,1,40.729892,-73.984231,"185 1ST AVE NEW YORK, NY 10003",...,0,0,0,0,0,0,0,0,0,0
2,NaN,NaN,NaN,P.S. 020 ANNA SILVER,310100010020,01M020,1,40.721274,-73.986315,"166 ESSEX ST NEW YORK, NY 10002",...,0,0,0,0,0,0,0,0,0,0
3,NaN,NaN,NaN,P.S. 034 FRANKLIN D. ROOSEVELT,310100010034,01M034,1,40.726147,-73.975043,"730 E 12TH ST NEW YORK, NY 10009",...,48,1,0,0,0,0,0,0,0,0
4,NaN,NaN,NaN,THE STAR ACADEMY - P.S.63,310100010063,01M063,1,40.724404,-73.986360,"121 E 3RD ST NEW YORK, NY 10009",...,0,0,0,0,0,0,0,0,0,0

In [16]:
new_df = df[["Economic Need Index", "Student Attendance Rate", "Strong Family-Community Ties %","Percent of Students Chronically Absent", "Collaborative Teachers %"]]
new_df

,Economic Need Index,Student Attendance Rate,Strong Family-Community Ties %,Percent of Students Chronically Absent,Collaborative Teachers %
0,0.919,94%,85%,18%,94%
1,0.641,92%,86%,30%,96%
2,0.744,94%,80%,20%,77%
3,0.860,92%,89%,28%,78%
4,0.730,93%,89%,23%,88%
...,...,...,...,...,...
1267,0.832,95%,83%,13%,93%
1268,0.825,94%,88%,24%,90%
1269,0.724,95%,86%,12%,92%
1270,0.544,95%,91%,12%,91%
1271,0.840,93%,85%,22%,84%

In [17]:
new_df.dropna()

,Economic Need Index,Student Attendance Rate,Strong Family-Community Ties %,Percent of Students Chronically Absent,Collaborative Teachers %
0,0.919,94%,85%,18%,94%
1,0.641,92%,86%,30%,96%
2,0.744,94%,80%,20%,77%
3,0.860,92%,89%,28%,78%
4,0.730,93%,89%,23%,88%
...,...,...,...,...,...
1267,0.832,95%,83%,13%,93%
1268,0.825,94%,88%,24%,90%
1269,0.724,95%,86%,12%,92%
1270,0.544,95%,91%,12%,91%
1271,0.840,93%,85%,22%,84%